@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Meow+Script&display=swap');

.meow-script-regular {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-menu {
  padding: 10px;
  text-align: left;
}

.dropdown-item {
  font-size: 1rem;
  padding: 8px 15px;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #000;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #f8f9fa;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Morph animation for cards */
.card-morph {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-morph:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
